.accounts{
	text-align: center;
	display: block;
	ul.nav-tabs{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 88px;
	    border-bottom: 1px solid #DDDDDD;
		li{
			margin-top: 30px;
			a{
				padding: 0 16px;
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				&.active{
					&:after{
						bottom: -20px;
					}
				}
				@media (max-width: 767px){
					padding: 0 12px;
				}
			}
		}
	}
	.tab-content{
		margin: 50px 0px;
		.tab-pane{
		    max-width: 400px;
		    width: auto;
		    margin: 0 auto;
		    text-align: left;
		    padding: 0 20px;
			.header{
				font-weight: 500;
				font-size: 28px;
				line-height: 33px;
				letter-spacing: 0.2px;
				color: #3E454C;
			}
			.subheader{
				font-weight: 500;
				font-size: 18px;
				line-height: 27px;
				letter-spacing: 0.1px;
				color: #3E454C;
				margin-bottom: 0;
		        background: transparent;
    			box-shadow: none;
    			height: auto;
    			padding-top: 18px;
    			padding-bottom: 7px;
			}
			.form{
				margin: 26px 0;
				&-field{
					margin-bottom: 32px;
				}
				.label{
					font-weight: normal;
					font-size: 15px;
					line-height: 18px;
					letter-spacing: 0.1px;
					color: #000000;
					margin-bottom: 12px;
				}
				.password-link{
					font-weight: bold;
					font-size: 15px;
					line-height: 22px;
					letter-spacing: 0.2px;
					text-decoration-line: underline;
					color: #07A5B5;
					margin-bottom: 12px;
				}
				&-control{
					border: 1px solid #D0D0D0;
					box-sizing: border-box;
					border-radius: 26px;
					font-size: 15px;
					line-height: 24px;
					letter-spacing: 0.2px;
					color: #3E454C;
					padding: 13px 28px;
					&.password-field{
						font-weight: 400;
						font-size: 16px;
						line-height: 20px;
						letter-spacing: 0.2px;
						color: #687582;
					}
				}
				.select{
					font-weight: 400;
					font-size: 15px;
					line-height: 18px;
					letter-spacing: 0.1px;
					color: #3E454C;
				}
				.view-btn{
					button{
						width: 100%;
					}
				}
				.radio-group {
					label {
				 		overflow: hidden;
					    background: #F5FEFF;
					    border: 1px solid #07A5B5;
					    border-radius: 44px;
					    font-weight: 600;
					    font-size: 14px;
					    line-height: 17px;
					    display: flex;
					    align-items: center;
					    color: #07A5B5;
					    margin-right: 12px;
				        padding: 10px 15px;
					}
					input {
						height: 1px;
						width: 1px;
						position: absolute;
						top: -20px;

					}
				 	.not-active {
						font-weight: 600;
						font-size: 14px;
						line-height: 17px;
						background: #F5FEFF;
						border: 1px solid #DDDDDD;
						border-radius: 44px;
						color: #3E454C;
					}
				}
			}
			.address-block, .default-block{
				background: #FFFFFF;
				border: 1px solid #DDDDDD;
				box-sizing: border-box;
				border-radius: 12px;
				padding: 20px 30px;
			    margin-bottom: 16px;
			    .name{
					font-weight: 500;
					font-size: 15px;
					line-height: 18px;
					letter-spacing: 0.1px;
					color: #3E454C;
			    }
			    .address-text{
					font-size: 15px;
					line-height: 24px;
					letter-spacing: 0.2px;
					color: #3E454C;
					margin-bottom: 0;
			    }
			    .round{
			    	label{
			    		width: 20px;
			    		height: 20px;
			    		&:after{
		    			    left: 4px;
		    			    top: 5px;
			    		}
			    	}
			    }
			}
			.default-block{
				padding: 0;
				background: #FFFFFF;
				border: 1px solid #07A5B5;
				box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
				border-radius: 12px;
				&-item{
					padding: 20px 30px 0 30px;
				}
			}
		    .btn-default{
				font-weight: bold;
				font-size: 13px;
				line-height: 16px;
				letter-spacing: 2.5px;
				text-transform: uppercase;
				color: #07A5B5;
			    margin: 30px 0;
			    background: transparent;
			    border: 0;
			    cursor: pointer;
		    }
		    .checkbox-group{
		    	border-top: 1px solid #DDDDDD;
		    	width: 100%;
		    	button{
					border: 0;
					background: transparent;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					padding: 16px 0;
				    border-right: 1px solid #DDDDDD;
				    font-weight: bold;
					font-size: 13px;
					line-height: 16px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #3E454C;
					cursor: pointer;
					&.active{
						color: #07A5B5;
					}
		    	}
		    	.view-btn{
					margin-top: 40px;
					button{
					    background: #07A5B5;
						box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
						border-radius: 26px;
					    border: 0;
					    padding: 17px 20px;
					    font-weight: bold;
						font-size: 13px;
						line-height: 16px;
						letter-spacing: 2.5px;
						text-transform: uppercase;
						color: #FFFFFF;
						transition: all 0.4s ease-in;
						border: 1px solid #07A5B5;
						cursor: pointer;
						border-top-left-radius: 24px !important;
						border-bottom-left-radius: 24px !important;
						&:hover{
							color: #07A5B5;
							border: 1px solid #07A5B5;
							background-color: white;
						}
						@media (max-width: 767px){
							padding: 14px 20px;
						}
					}
					@media (max-width: 767px){
						text-align: center;
					}
				}
		    }
		    .radio-group{
		    	border: 0;
		    }
		    .block-item{
		    	padding-left: 15px;
		    }
			.add-address-btn{
				button{
					background: #FFFFFF;
					border: 2px solid #DDDDDD;
					box-sizing: border-box;
					border-radius: 26px;
					width: 100%;
				    padding: 18px 0;
			        margin-top: 12px;
			        font-weight: bold;
					font-size: 13px;
					line-height: 16px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #07A5B5;
				    transition: all 0.5s ease;
					&:hover{
						background-color: #07A5B5;
						border: 2px solid #07A5B5;
						color: white;
					}
				}
			}
		}
	}
}