.filters{
    &-option{
        display: none;
        @media (min-width: 992px){
            width: auto;
            display: flex;
            align-items: center; 
        }
    }
    .dropdown{
        .btn{
            width: 200px;
            height: 42px;
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 24px;
            text-align: left;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.1px;
            &.dropdown-toggle{
                &:after {
                    content: '';
                    position: absolute;
                    right: 15px;
                    top: 20px;        
                }
            }
            &:focus{
                box-shadow: none;
            }
        }
        &-menu{
            &.show{
                background: #FFFFFF;
                box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                border: 0;
                width: 250px;
                height: 300px;
                overflow: auto;
            }
            .select-option{
                align-items: center;
                justify-content: space-between;
                margin: 30px 15px 25px;
                .select{
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #07A5B5;
                    font-weight: 400;
                }
                .clear{
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #687582;
                    font-weight: 400;
                }
            }
            &::-webkit-scrollbar {
              width: 22px;
            }
             
            &::-webkit-scrollbar-track {
                background-color: white;
                border-radius: 40px;
            }
             
            &::-webkit-scrollbar-thumb {
                background-color: #DDDDDD;
                margin-right: 34px;
                border: 8px solid white;
                border-radius: 30px;
            }
        }
        &-item{
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #3E454C;
            margin: 15px 0 0;
            padding: 15px 30px 0;
            &:active{
                background: transparent;
            }
            &:focus{
                outline: 0;
            }
            .option-link{
                font-size: 16px;
                line-height: 20px;
                color: #3E454C;
                .option{
                    margin-right: 10px;
                }
            }
        }
    }
    &-btn{
        display: none;
        @media (max-width: 991px){
            display: block;
            button{
                position: absolute;
                right: 0;
                top: 0px;
                width: 120px;
                height: 62px;
                background: #FFFFFF;
                box-shadow: -20px 0px 31px rgba(0, 0, 0, 0.15);
                border: 0;
                font-weight: 500;
                font-size: 20px;
                line-height: 48px;
                letter-spacing: 0.2px;
                color: #000000;
            }
        }
    }
}

.filtered-data{
    background: #FFFFFF;
    box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 73px;
    .tag{
        display: flex;
        align-items: center;
        &-name{
            background: #FAFAFA;
            border: 1px solid #3E454C;
            box-sizing: border-box;
            border-radius: 44px;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2px;
            color: #3E454C;
            font-weight: 400;
            margin: 12px 20px 12px 0;
            padding: 12px 15px;
            cursor: pointer;
            .icon{
                font-size: 30px;
                margin: 0 5px 0 15px;
                @media (max-width: 374px){ 
                    margin: 0 5px 0 10px;
                }
            }
            @media (max-width: 374px){
                margin: 12px 15px 12px 0;
                padding: 8px 10px;
            }
        }
        a.link{
            font-weight: 500;
            font-size: 20px;
            line-height: 48px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2px;
            color: #FF5F7A;
            @media (max-width: 374px){
                font-size: 16px;
            }
        }
    }
    @media (max-width: 374px){
        padding-top: 4px;
    }
}