body{
	font-family: 'Rubik', sans-serif;
}
span{
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	color: #6E747B;
	margin: 0px 12px;
}
.container {
	@media (min-width: 992px){
	    max-width: 1024px !important;
	}
	@media (min-width: 768px){
	    max-width: 818px;
	}
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
.deskMode{
	display: block;
	@media (max-width: 767px){
		display: none !important;
	}
}
.mobileMode{
	display: block;
	@media (min-width: 768px){
		display: none !important;
	}
}