#orders{
	max-width: 100%;
	.header{
	    margin-bottom: 30px;
	}
	.product-order{
		&-card{
			border: 1px solid #DDDDDD;
			box-sizing: border-box;
			border-radius: 12px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 24px 32px 32px 24px;
			margin-bottom: 20px;
			cursor: pointer
		}
		&-item{
		    display: flex;
    		align-items: center;
			img{
		    	width: 88px;
			    height: auto;
			    object-fit: contain;
			}
			.item-details{
				padding-left: 20px;
				h4{
					font-weight: 500;
					font-size: 22px;
					line-height: 28px;
					letter-spacing: 0.1px;
					color: #3E454C;
					margin-bottom: 0;
				}
				p.count{
					margin-bottom: 0;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: 0.2px;
					color: #687582;
				}
			}
		}
		&-price{
			.price{
				font-weight: 500;
				font-size: 18px;
				line-height: 27px;
				text-align: right;
				letter-spacing: 0.1px;
				color: #3E454C;
				margin-bottom: 0;
			}
		}
		&-status{
			.status{
				font-weight: 500;
				font-size: 15px;
				line-height: 18px;
				letter-spacing: 0.1px;
				color: #3E454C;
				margin-bottom: 4px;
				position: relative;
				&.dispatched{
					&:after{
					    content: '';
					    width: 8px;
					    height: 8px;
					    border-radius: 8px;
					    background: #07A5B5;
					    position: absolute;
					    left: -15px;
					    top: 5px;
					}
				}
				&.delivered{
					&:after{
						content: "\f058";
						font-size: 15px;
					    color: #93B91B;
					    font-family: 'FontAwesome';
					    position: absolute;
					    right: 30px;
					    font-weight: bold;
				        left: -20px;
    					top: 1px;
					}
				}
			}
			.date{
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				color: #687582;
				margin-bottom: 0;
			}
		}
	}
}
