.slider{
	.slick-carousel {
	  margin: 0 auto;
	  width: 1000px;
	}
	.slick-slide {
	    margin: 30px 15px 0 0;
	    &:focus{
	    	outline: 0;
	    }
	    &.product-card{
	    	.product-image-card{
	    		box-shadow: none;
	    		@media (max-width: 767px){
			    	box-shadow: 0px -6px 10px rgba(0,0,0,0.15);
		    	}
	    	}
	    	@media (max-width: 767px){
    		    margin: 30px 10px;
	    	}
	    	.product-price{
	    		@media (max-width: 767px){
	    			font-size: 14px;
	    			line-height: 22px;
	    			text-align: center;
	    		}
	    	}
	    }	
    }
    .slide-arrow{
		width: 60px;
		height: 60px;
		background: #FFFFFF;
		border: 1px solid #DDDDDD;
		box-sizing: border-box;
		border-radius: 49px;
		position: relative;
 		&.prev-arrow{
 		    position: absolute;
		    right: -15px;
		    top: 50%;
		    z-index: 9;
		    cursor: pointer;
 			.fa-arrow-right{
 				&:before{
				    color: #07A5B5;
    				font-size: 18px;
 				}
 			}
 		}
 		&.next-arrow{
 		    position: absolute;
		    left: -15px;
		    top: 50%;
		    z-index: 9;
		    cursor: pointer;
 			.fa-arrow-left{
 				&:before{
				    color: #07A5B5;
    				font-size: 18px;
 				}
 			}
 		}
 		&.slick-disabled{
 			opacity: 0;
 		}
	}

	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
	    width: 100%;

		li {
			margin: 0 0.25rem;
		}
		button {
			font-size: 0;
			width: 12px;
			height: 12px;
			padding: 0;
			border: none;
			border-radius: 100%;
			background-color: #687582;
			text-align: center;
			cursor: pointer;
			opacity: 0.3;
		}
		li.slick-active button {
			background-color: #07A5B5;
			opacity: 1;
		}
	}
	&:before, &:after{
		content: "";
		position: absolute;
		z-index: 1;
		width: 100px;
		top: 0;
		height: 100%;
		pointer-events: none;
	}
	&:before {
  		left: 0;
  		background: linear-gradient(to right, #fff 60.19%, rgba(255,255,255,0) 100%);
	}
	&:after {
  		right: 0;
  		background: linear-gradient(to left, #fff 60.19%, rgba(255,255,255,0) 100%);
	}
}
.product-image-slider{
    .slide-arrow{
 		&.prev-arrow{
		    top: 45%;
 			.fa-arrow-right{
 				&:before{
				    color: #3E454C;
    				font-size: 18px;
 				}
 			}
 		}
 		&.next-arrow{
		    top: 45%;
 			.fa-arrow-left{
 				&:before{
				    color: #3E454C;
 				}
 			}
 		}
 		&.slick-disabled{
 			opacity: 1;
 			&.prev-arrow{
	 			.fa-arrow-right{
	 				&:before{
					    color: #DDDDDD;
	 				}
	 			}
	 		}
	 		&.next-arrow{
	 			.fa-arrow-left{
	 				&:before{
					    color: #DDDDDD;
	 				}
	 			}
	 		}
	 		@media (max-width: 767px){
				background: transparent;
				border: 0;
				width: 20px;
				height: 20px;
 			}
 		}
 		@media (max-width: 767px){
			background: transparent;
			border: 0;
			width: 20px;
			height: 20px;
 		}
	}
}

.product-tag-slider{
	.slick-carousel {
	  margin: 0 auto;
	  width: 1000px;
	}
	.slick-slide {
	    margin: 30px 15px 0 0;
	    &:focus{
	    	outline: 0;
	    }
    }
	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
	    width: 100%;

		li {
			margin: 0 0.25rem;
		}
		button {
			font-size: 0;
			width: 12px;
			height: 12px;
			padding: 0;
			border: none;
			border-radius: 100%;
			background-color: #687582;
			text-align: center;
			cursor: pointer;
			opacity: 0.3;
		}
		li.slick-active button {
			background-color: #07A5B5;
			opacity: 1;
		}

	}
}
.card-slider{
    .slide-arrow{
    	width: 55px;
    	height: 55px;
 		&.prev-arrow{
		    top: 13%;
		    right: -15px;
 			.fa-arrow-right{
 				&:before{
				    color: #07A5B4;
    				font-size: 18px;
 				}
 			}
 		}
 		&.next-arrow{
		    top: 13%;
	        left: -15px;
 			.fa-arrow-left{
 				&:before{
				    color: #07A5B4;
 				}
 			}
 		}
 		&.slick-disabled{
 			opacity: 1;
 			&.prev-arrow{
	 			.fa-arrow-right{
	 				&:before{
					    color: #DDDDDD;
	 				}
	 			}
	 		}
	 		&.next-arrow{
	 			.fa-arrow-left{
	 				&:before{
					    color: #DDDDDD;
	 				}
	 			}
	 		}
	 		@media (max-width: 767px){
				background: transparent;
				border: 0;
				width: 20px;
				height: 20px;
 			}
 		}
 		@media (max-width: 767px){
			background: transparent;
			border: 0;
			width: 20px;
			height: 20px;
 		}
	}
	.card{
		&-block{
		    background: #FFFFFF;
		    border: 1px solid #C5DEF2;
		    box-sizing: border-box;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    margin: 0 auto;
		    padding: 24px;
		    width: 190px !important;
	    	img{
	    	    width: 50px;
			    height: 50px;
			    object-fit: contain;
	    	}
			.text-item{
				font-weight: 500;
				font-size: 20px;
				line-height: 54px;
				letter-spacing: 0.2px;
				color: #3E454C;
				margin-left: 10px;
				margin-bottom: 0;
			    white-space: nowrap;
			    @media(max-width: 767px){
			    	font-weight: 300;
					font-size: 14px;
					line-height: 48px;
					letter-spacing: 0.2px;
					color: #3E454C;
					margin-right: 10px;
			    }
			}
			@media(max-width: 767px){
				flex-direction: column;
			}
			@media (min-width: 768px){
				width: 225px !important;
			}
		}
	}
	.info-slider{
		margin-top: 50px;
		@media (max-width: 767px){
			&:after, &:before{
				display: none;
			}
		}
	}
}
.articles-slider, .product-image-slider, .product-slider{
	&:after, &:before{
		display: none;
	}
}