$theme-colors: (
  "primary": #07A5B5,
  "secondary": #FF5F7A,
  "dark": #3E454C,
  "light": #f3f3f3,
);

$text-color: #3E454C;
$light-text-color: #687582;
$label-color: #6E747B;
$gray-500: #adb5bd !default;
$gray-600: #828282 !default;
$gray-800: #343a40 !default;
$white: #fff !default;
$black: #000 !default;
